@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Nunito&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');

button {

border-color: rgba(168, 167, 165, 0.384);
background-color: #4af7d8ba;
height: 30px;
width: 75px;
border-radius: 11%;
font-family: 'Castoro Titling', cursive;

}

button:hover{


background-color: lightcyan;

}


button:active {

background-color: mediumpurple;


}

button:disabled {

background-color: rgba(128, 128, 128, 0.619);
cursor:not-allowed;

}

body {

background-color: lavender;



}

h1 {
    
    font-family: 'Castoro Titling', cursive;

}

h2 {

    font-size: 30px;
    height: 55px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(0, 0, 0, 0.114);
    font-family: 'Darumadrop One', cursive;

}

